.container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
    padding: 5rem 2rem;
    
}
@media screen and (max-width: 600px) {
    .container{
      display: block;
    }
  }