.header{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 3rem;

}
.header > img{
    width: 16rem;
}
nav{
    display: flex;
}
nav > a{
    margin-right: 1.7rem;
    text-decoration: none;
    padding: 10px;
    color: black;
}