*{
  padding: 0 auto;
  margin: 0 auto;

}
body {
  background-image: url(./assets/Bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 58vh;
}
